.user-page {
    display: flex;
}
.user-info {
    width: 500px;
}
.stamp-area-container {
}
.stamp-area {
    background-color: #fff;
    color: rgb(163, 161, 161);
    width: 862px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #d5dadf;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    margin: 0px 74px;
}
.stamp {
    border: 1px solid #d5dadf;
    width: 120px;
    height: 100px;
}
.stamp-img-area img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.stamp-img {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 480px) {
    .user-page {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    .user-info {
        width: 100%;
    }
    .stamp-area {
        margin: 0px 0px;
        display: flex;
        margin: 0 25px;
        width: 304px;
        padding: 4px;
    }
    .stamp {
        width: 49px;
        height: 40px;
        border-radius: 12px;
    }
    .stamp-area-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stamp-img-area img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 40px;
        height: 40px;
    }
}
